@{
    Layout = null;
    DateTime selectedDate = (DateTime)ViewData["SelectedData"];
    string selectedActivity = (string)ViewData["SelectedActivity"];
    string stringDate = "" + selectedDate.Year + "-";
    if (selectedDate.Month < 10) { stringDate += "0"; }
    stringDate += selectedDate.Month + "-";
    if (selectedDate.Day < 10) { stringDate += "0"; }
    stringDate += selectedDate.Day;
    var elencoIstruttori = ViewData["MapIstruttori"] as string[][];
    var elencoAttrezzature = ViewData["MapAttrezzature"] as int[][];
    TimeSpan inizio = new TimeSpan(9, 0, 0);

    int[] attrByTipo(int type) //0:barcaVela, 1:canoa, 2:windsur, 3:canoa
    {                           //estraggo le disponibilità del solo tipo di attrezzatura che mi interessa
        int[] res = new int[10];
        for (int i=0; i<10; i++)
        {
            res[i] = elencoAttrezzature[i][type];
        }
        return res;
    }

    HashSet<string> setIstr = new HashSet<string>(); //set per riempire la combo box selezione cliente
    foreach (string[] j in elencoIstruttori) {
        foreach (string k in j)
        {
            setIstr.Add(k);
        }
    }

    string attrPlurale = null;
    int[] attrDisp=null;
    switch (selectedActivity)
    {
        case ("barcaVela"): attrPlurale = "Barche a Vela"; attrDisp = attrByTipo(0);  break;
        case ("canoa"): attrPlurale = "Canoe"; attrDisp = attrByTipo(1); break;
        case ("windsurf"): attrPlurale = "Windsurf"; attrDisp = attrByTipo(2); break;
        case ("sup"): attrPlurale = "Sup"; attrDisp = attrByTipo(3); break;
    }

    }


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Prenota Lezione</title>
    <link href="http://fonts.googleapis.com/css?family=Fauna+One:400|Kite+One:400|Ubuntu:300," rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/standardize.css">
    <link rel="stylesheet" href="css/prenotalezione-grid.css">
    <link rel="stylesheet" href="css/prenotalezione.css">
</head>
<body class="body page-prenotalezione clearfix">
    <div class="centrovelicostyle centrovelicoinsidestyle element element-1"></div>
    <p class="centrovelicostyle centrovelicoinsidestyle text text-1"><span><b>PRENOTA LEZIONE</b></span></p>
    <p class="centrovelicostyle centrovelicoinsidestyle text text-2">Di seguito potrai prenotare l'istruttore per la tua lezione al lago. Compila subito i campi sottostanti!&nbsp;</p>
    <div class="centrovelicostyle centrovelicoinsidestyle container container-1 clearfix">
        <form name="formdisp" action="/Cliente/PrenotaLezione" method="post">
            <input type="hidden" name="formname" value="form1" readonly />
            <p class="centrovelicostyle centrovelicoinsidestyle text text-3"><b>Data Noleggio:</b></p>
            <div class="wrapper wrapper-1"><input id="data" name="data" type="date" value="@stringDate"> </div>
            <select id="attivita" class="_select _select-1" name="attivita">
                <option value="barcaVela">Barca a Vela</option>
                <option value="windsurf">Windsurf</option>
                <option value="sup">Sup</option>
                <option value="canoa">Canoa</option>
            </select>
            <input type="submit" value="Cerca" />
        </form>
    </div>
    <div class="centrovelicostyle centrovelicoinsidestyle container container-2 clearfix">
        <p class="centrovelicostyle centrovelicoinsidestyle text text-5">DISPONIBILIT&Agrave;:</p>
        <div class="centrovelicostyle centrovelicoinsidestyle wrapper wrapper-2">
            <style type="text/css">

                .tg {
                    border-collapse: collapse;
                    border-spacing: 0;
                    border-color: #aaa;
                    width: 100%
                }

                    .tg td {
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        padding: 10px 5px;
                        border-style: solid;
                        border-width: 1px;
                        overflow: hidden;
                        word-break: normal;
                        border-color: #aaa;
                        color: #333;
                        background-color: #fff;
                    }

                    .tg th {
                        font-family: Arial, sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        padding: 10px 5px;
                        border-style: solid;
                        border-width: 1px;
                        overflow: hidden;
                        word-break: normal;
                        border-color: #aaa;
                        color: #fff;
                        background-color: #f38630;
                    }

                    .tg .tg-baqh {
                        text-align: center;
                        vertical-align: top
                    }

                    .tg .tg-amwm {
                        font-weight: bold;
                        text-align: center;
                        vertical-align: top
                    }

                    .tg .tg-yw4l {
                        vertical-align: top
                    }
            </style>
            <table class="tg">
                <tr>
                    <th class="tg-amwm">Orari</th>
                    <th class="tg-amwm">@attrPlurale Disponibili</th>
                    <th class="tg-amwm">Istruttori Disponibili</th>
                </tr>
                @for (int i = 0; i < elencoIstruttori.Length; i++)
                {
                <tr>
                    <td class="tg-baqh">@(inizio.Hours + i):00 - @(inizio.Hours + i + 1):00</td>
                    <td class="tg-baqh">@attrDisp[i]</td>
                    @{
                        string gridIstr = "";
                        for (int k = 0; k < elencoIstruttori[i].Length; k++)
                        {
                            gridIstr += elencoIstruttori[i][k] + ", ";
                        }

                    }
                    <td class="tg-baqh">@gridIstr</td>
                </tr>
                }
            </table>
        </div>
        
        
    </div>
    <div class="centrovelicostyle centrovelicoinsidestyle container container-3 clearfix">
        <p style="font-size: 22pt" class="centrovelicostyle centrovelicoinsidestyle text text-7">PRENOTA</p>
        <q style="font-size: 16pt">Si ricorda che è possibile prenotare una lezione solamente in ore contigue e con lo stesso istruttore.</q>
        <div class="centrovelicostyle centrovelicoinsidestyle element element-2"></div>
        <form name="form2" action="/Cliente/PrenotaLezione" method="post">

            <input type="hidden" name="formname" value="form2" readonly />
            <input type="date" name="data" value="@stringDate" readonly />

            <label class="centrovelicostyle centrovelicoinsidestyle text text-7"><b>Ora Inizio: </b></label>
            <span class="centrovelicostyle centrovelicoinsidestyle wrapper wrapper-4"><input name="starttime" type="number" min="9" max="18" value="9" required /></span>
            <label class="centrovelicostyle centrovelicoinsidestyle text text-8"><b>Ora Fine:   </b></label>
            <span class="wrapper wrapper-5"><input name="endtime" type="number" min="10" max="19" value="10" required /></span>

            <label class="centrovelicostyle centrovelicoinsidestyle text text-6">Partecipanti:  </label>
            <input type="number" name="partecipanti" min="1" max="5" value="1" required />

            <label class="centrovelicostyle centrovelicoinsidestyle text text-10">Selezione istruttore: </label>
            <select name="nomeistr" required>
                @foreach (string nome in setIstr)
        {
            <option value="@nome">@nome</option>
}
            </select>
            <input type="hidden" name="attivita" value="@selectedActivity" readonly />

            <hr />
            <!-- <div class="centrovelicostyle centrovelicoinsidestyle wrapper wrapper-4"><text>TOTALE: 0.00€</text></div> -->
            <input type="submit" value="Conferma" />
        </form>
    </div>
    <br/><br/>
    <button class="centrovelicostyle centrovelicoinsidestyle _button _button-3"><a href="/Cliente/HomeCliente">Annulla</a></button>
    <div class="container container-5"></div>
</body>
</html>