<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Login</title>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,400,500,|Rokkitt:400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/standardize.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/login-grid.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/mytemplate/")css/login.css">

</head>
<body class="body page-login clearfix">
    <div class="container container-1 clearfix">
        <div class="container container-2 clearfix">
            <p class="text text-1">Inserisci username e password per accedere al sistema</p>
            <p class="text text-2">Login</p>
            <input class="_input _input-1" name="userid" placeholder="USERNAME" type="text">
            <input class="_input _input-2" name="password" placeholder="Password" type="password">
            <div class="container container-3 clearfix">
                <button class="_button">Entra</button>
                <button onClick="window.location='registrazione.html';" id="register" class="_button _button-2">Registrati</button>
            </div>
        </div>
    </div>
    <div class="container container-4"></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
